[Unit]
Description=dnsmasq
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/bin/podman kill dnsmasq
ExecStartPre=-/bin/podman rm dnsmasq
ExecStartPre=-/bin/podman pull --tls-verify=false ${dnsmasq_image}
ExecStart=/bin/podman run --name dnsmasq -v /etc/dnsmasq.d:/etc/dnsmasq.d:z --net host --cap-add NET_ADMIN --cap-add NET_RAW ${dnsmasq_image}

[Install]
WantedBy=multi-user.target
